<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- webapp.xml used in Test class to configure context-->
	<import resource="webapp.xml"/>
	<!--HierarchyEntityProviderImpl bean defined in separate xml as no Tests written for it -->
	<import resource="entityprovider.xml"/>

</beans>
